body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $font-color;
  }

a {
    font-weight: bold;
    color: $font-color;
}
  
a.router-link-exact-active {
    color: $accent-green;
}

.italic {
    font-style: italic;
  }
  
  .sources {
    font-size: 0.5rem;
  }

  .action {
    text-shadow: 1px 2px 3px $accent-green;
  }

  .action--underscore{
   text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 2px;
    text-decoration-color: $accent-green;
    text-underline-position: under;
  }

  .action--highlight {
    background: transparentize($accent-green, 0.8);
  }